* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #C8D0D2;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, var(--box-shadow-opacity, 0.3));
    background-color: var(--bg-color, white);
    transform-style: preserve-3d;
    height: 200px;
    width: 100%;
    transition: transform 150ms;
    transform: perspective(1000px) rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
    counter-reset: flashcard-option;
}
.card:hover {
    --translate-y: -2px;
    --box-shadow-opacity: 0.5;
}
.card.flip {
    --rotate-y: 180deg;
    --bg-color: lightgreen;
}
.card .front,
.card .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
    width: 100%;
}
.card .front {
    left: 0;
}
.card .back {
    transform: rotateY(180deg);
    text-align: center;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 260px);
    justify-content: center;
    gap: 2rem;
    margin: 10px;
    padding: 1.5rem;
    align-content: center;
}
.flashcard-options {
    margin-top: 0.5rem;
}
.flashcard-option {
    color: rgb(68, 77, 158);
    font-size: 0.9rem;
    cursor: pointer;
    padding: 2px;
}
.flashcard-option:hover {
    color: black;
}
.flashcard-option:first-child {
    margin-top: 0;
}
.flashcard-option::before {
    counter-increment: flashcard-option;
    content: counter(flashcard-option) "). ";
}
.question-generator-form-container {
    margin: 10px;
    padding: 1.5rem;
    width: 30%;
    position: fixed;
    z-index: 10;
    background-color: white;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
    transition: all 500ms;
    border-radius: 0.25rem;
    opacity: 0;
    display: none;
}
.question-generator-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.question-generator-form input,
.question-generator-form select,
.question-generator-form label {
    padding: 0.25rem;
    width: 100%;
    margin: 2px;
}
.toggle-generator-button {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 0.25rem;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    transition: all 500ms;
}
.toggle-generator-button:active {
    filter: brightness(0.7);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 500px) {
    .card-grid {
        grid-template-columns: repeat(auto-fill, 100%);
    }
    .question-generator-form {
        flex-direction: column;
    }
    .question-generator-form input,
    .question-generator-form select {
        width: 100%;
    }
    .question-generator-form label {
        padding: 0;
    }
    .question-generator-form-container {
        width: 50%;
    }
}